## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100),k = 80)
print(sample_list_1)

[6, 46, 85, 41, 51, 38, 49, 82, 70, 48, 86, 89, 20, 17, 45, 40, 22, 71, 35, 84, 11, 90, 29, 39, 47, 53, 52, 76, 36, 2, 57, 43, 88, 9, 73, 32, 42, 33, 21, 5, 56, 61, 25, 75, 19, 34, 24, 65, 96, 69, 79, 7, 92, 62, 28, 77, 15, 14, 78, 95, 8, 60, 83, 26, 13, 80, 91, 87, 27, 30, 68, 54, 55, 99, 37, 64, 23, 59, 63, 94]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
type(set1)

80

set

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = random.choices(range(100), k = 80)
print(sample_list_2)

[15, 88, 35, 19, 88, 12, 86, 24, 81, 51, 65, 44, 34, 90, 2, 58, 59, 78, 98, 6, 1, 72, 53, 46, 75, 89, 93, 45, 41, 39, 36, 18, 6, 81, 57, 50, 79, 37, 93, 46, 98, 76, 79, 63, 88, 95, 81, 7, 78, 15, 25, 63, 19, 40, 86, 40, 63, 4, 26, 41, 89, 49, 4, 81, 90, 30, 92, 69, 44, 84, 35, 38, 26, 94, 31, 19, 49, 40, 13, 64]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [26]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

type(set2)

53

set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [25]:
# Your code here

set3 = set()

for element in set1:
    if element not in set2:
        set3.add(element)
    
print(set3)

{0, 1, 2, 3, 4, 6, 11, 12, 18, 21, 28, 32, 34, 36, 39, 40, 41, 43, 45, 46, 47, 48, 49, 55, 57, 66, 68, 73, 74, 88, 90, 91, 92, 95, 99}

In [16]:
type(set3)

set

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [17]:
# Your code here

set4 = set()

for element in set2:
    if element not in set1:
        set4.add(element)

print(set4)

{64, 67, 37, 70, 8, 9, 76, 83, 84, 53, 62, 56, 27, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [21]:
# Your code here

set5 = set()

for element in set1:
    if element in set2:
        set5.add(element)

print(set5)

{7, 10, 13, 14, 15, 16, 17, 19, 20, 22, 23, 24, 25, 26, 29, 31, 33, 38, 42, 44, 51, 54, 58, 59, 60, 61, 63, 65, 71, 72, 75, 77, 78, 79, 80, 81, 82, 85, 86, 89, 93, 94, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [30]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
53
35
14
45

#### Create an empty set called `set6`.

In [31]:
# Your code here
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [32]:
# Your code here
set6.update(set3,set5)

print(set6)

{0, 1, 2, 3, 4, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 54, 55, 57, 58, 59, 60, 61, 63, 65, 66, 68, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [33]:
# Your code here
if set1 == set6:
    print("True")
else: 
    print("False")

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [35]:
# Your code here


z = set2.issubset(set1)
print(z)



z = set3.issubset(set1)
print(z)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [36]:
# Your code here

z = set3.union(set4)
z2 = z.union(set5)

#### Using the `pop` method, remove an element from `set1`.

In [37]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [38]:
# Your code here
for element in set1:
    if element in list_to_remove:
        list_to_remove.remove(element)
    else: 
        print(list_to_remove)

NameError: name 'list_to_remove' is not defined